body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 1350px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1300px !important;
    }
  }
}

.app-container {
  .header-container {
    .btn-login {
      height: 40px;

      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
    }
    .btn-signup {
      height: 40px;
      border-radius: 5px;
      padding: 0 15px;
      background: #303030;
      color: white;

      &:hover {
        background: black;
      }
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      // opacity: 0.6;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: #0bf;
        }
      }
    }
  }
  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-1 {
        font-size: 35px;
        font-weight: 600;
      }
      .title-2 {
        font-size: 22px;
      }
      .title-3 {
        button {
          border-radius: 5px;
          height: 40px;
          border-radius: 5px;
          padding: 0 15px;
          background: #303030;
          color: white;
          border: none;

          &:hover {
            background: black;
          }
        }
      }
    }
  }

  // .header-container {
  //   .navbar-nav .nav-link.active {
  //     color: red;
  //   }
  // }
}

video {
  position: fixed;
  right: 0;
  width: 50vw;
}
